:root {
    --primary-white: #FFFFFF;
    --primary-light-gray: #00000029;
    --black: #000000;
    --primary-blue: #08A6E4;
    --secondary-gray: #A5A5A5;
    --mint: #07ACE629;
    --primary-hot-pink: #FB3B64;
    --green: #55DFB4;
    --secondary-white: #F7F7F7;
    --secondary-light-gray: #E8E9ED;
    --secondary-blue: #07ACE6;
    --primary-pink: #F9043629;
    --third-blue:#13253B;
    --seconday-hot-pink: #EB476E;
    --secondary-pink: #FF091129;
    --primary-dark-gray: #95989A;
    --secondary-dark-gray: #707070;

    --font-open-sans: "Open Sans", sans-serif;
    --font-raleway: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
}

header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.container {
  width: 1352px;
  margin: 0 auto;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 60;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--primary-blue);
}

a { text-decoration: none;}

.header__nav {
  /*color: var(--secondary-gray);*/
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  display: flex;
  gap: 9em;
  letter-spacing: 0.2em;
  padding-right: 10px;
}

.nav__link {
  color: var(--secondary-gray);
  padding: 15px 0 25px;
  border-bottom: 4px solid transparent;
}

.nav__element :hover {
  color:var(--black);
  cursor: pointer;
  border-color: var(--primary-blue);
}

.opening {
  padding-top: 120px;
  color: var(--black);

  flex-direction: column;
  justify-content: center;
}


.opening__section {
  text-align: center;
  color: var(--black);
}

.opening__section__title {
  text-align: center;
  font: normal normal normal 3.063rem var(--font-raleway);

  opacity: 1;
}

.opening__section__content {
  text-align: center;
  font: normal normal normal 1rem Open Sans;
  margin-top: 15px;
  margin-bottom: 60px;

  opacity: 1;

}

.opening__section__btn {
  background: var(--primary-blue);
  color: var(--primary-white);
  font-weight: bold;
  padding: 20px 155px;

  box-shadow: 5px 10px 14px var(--mint);
  border-radius: 40px;
  opacity: 1;
  }

.opening__section__image {
  width: 100%;
  height: auto;
}

