:root {
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}


* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
}

/*header*/
header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.container {
  width: 1352px;
  margin: 0 auto;
}

.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 60;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}

a { text-decoration: none;}

.header__nav {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;

  display: flex;
  gap: 9em;
  letter-spacing: 0.2em;
  padding-right: 10px;
}

.nav__link {
  color: var(--color-grey);
  padding: 15px 0 25px;
  border-bottom: 4px solid transparent;
}

.nav__element :hover {
  color:var(--black);
  cursor: pointer;
  border-color: var(--color-primary);
}
/*e:header*/

/*opening*/
.opening {
  padding-top: 120px;
  color: var(--color-black);

  flex-direction: column;
  justify-content: center;
}


.opening__section {
  text-align: center;
  color: var(--color-black);
}

.opening__section__title {
  font-family: var(--font-raleway);
  text-align: center;
  font: normal normal normal 3.063rem var(--font-raleway);

  opacity: 1;
}

.opening__section__content {
  text-align: center;
  font: normal normal normal 1rem Open Sans;
  margin-top: 15px;
  margin-bottom: 60px;

  opacity: 1;

}

.opening__section__btn {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  padding: 20px 155px;

  border-radius: 40px;
  opacity: 1;
  }

.opening__section__image {
  width: 100%;
  height: auto;
}
/*e:opening*/

/*statistics*/
.statistics {
  margin-top: 50px;
}

.statistics__container {
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}

.statistics__title {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
  color: var(--color-black);

  display: flex;
  justify-content: center;
}
.statistics__single{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.statistics__circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;

  position: relative;
  background-color: var(--color-primary);
}
.statistics__single:first-child .statistics__circle {
  background-color: var(--color-redish);
}

.statistics__single:last-child .statistics__circle {
  background-color: var(--color-green);
}

.statistics__img {
  position: absolute;
  bottom: 10px;
  left:50%;

  gap: 10px;
}

.statistics__number {
  font-family: var(--font-raleway);
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 5px;

  margin-bottom: 10px;
}

.statistics__description {
  color: var(--color-grey);
  font-size: 1rem;
  font-weight: 350;
  text-align: center;
}
/*e: stastistic*/

/*benefits*/
.benefits {
  background-color: var(--color-light-grey);
  padding-top: 100px;
}

.benefits__single {
  width: 1100px;
  height: 370px;

  margin-left: 130px;

  background-color: var(--color-white);
}

.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;

  display: block;
  margin-top: 50px;
  margin-right: 90px;
}

.benefits__title {
  font-family: var(--font-raleway);
  font-size: 2.25rem;


  display: flex;
  justify-content: left;

}

.benefits__content {
  width: 420px;
  height: 100px;
  line-height: 1.5;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}


.benefits__single--notebook{
  margin-bottom: 37px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits__single--notebook .benefits__image {
  position: relative;

  margin-right: 100px;
  margin-bottom: -50px;
}
.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;

  background-color: var(--color-redish);

  display: block;
  border-radius: 40px;

  position: absolute;
  right: 0;
  top: -40px;

  transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}

.benefits__single--notebook .benefits__text::after {

  background-color: var(--color-redish);
}

.benefits__single--phone {
  margin-bottom: 37px;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.benefits__single--phone .benefits__image {
  position: relative;

  margin-right: 100px;
  margin-bottom: -50px;
}
.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;

  background-color: var(--color-primary);

  display: block;
  border-radius: 80%;

  position: absolute;
  left: 20px;
  top: -30px;

}

.benefits__single--phone .benefits__image img {
  width: 420px;
  height: auto;
  margin-left: 20px;
  position: relative;
  z-index: 2;

}

.benefits__single--phone .benefits__text::after {

  background-color: var(--color-primary);
}

.benefits__double {
  width: 1100px;
  height: 470px;
  margin-left: 130px;
  margin-bottom: 37px;

  display: flex;
  gap: 60px;
  
}

.benefits__single--solo {
  width: 600px;
  height: 370px;
  margin: 0;

  padding: 30px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;

  display: flex;
  justify-content: left;
  align-items: center;
}

.benefits__single--solo .benefits__text::after {
  background-color: var(--color-green);
}

.benefits__single--image {
  background-color: var(--color-green);
  width: 480px;
  height: 370px;
  margin: 0;

  padding: 30px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;

  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits__single--image img {
  width: 295px;
  margin-top: 40px;
}
/*e: benefits*/

/* pricing*/
.pricing {
  background-color: var(--color-white);
  width: 1200px;
  height: 620px;
}


.pricing h2 {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
  font-weight: 400;

  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.pricing__boxes {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

.pricing__box {
  background: var(--color-white) 0% 0% no-repeat padding-box;
  border: 1px solid;
  border-radius: 18px;

  opacity: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

 .pricing__type {
  font-family: var(--font-raleway);
  font-size: 1.25rem;
  font-weight: 600;
}

.pricing__price {
  font-size: 2.875rem;

}

.pricing__items {
  font-size: 0.875rem;
  line-height: 40px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Checkmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -45px;
  font-size: 0.8125rem;

  background: var(--color-white) 0% 0% no-repeat padding-box;
  border: 1px solid;
  border-radius: 18px;

  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
}

.pricing__box--basic,
.pricing__box--premium {
  top: 3052px;
  left: 180px;
  width: 372px;
  height: 461px;
}

/*basic*/

.pricing__box--basic {
  border-color: var(--color-redish);
}

.pricing__box--basic .pricing__price {
  color: var(--color-redish);
}

.pricing__box--basic .btn {
  background-color: var(--color-redish);
}

/*professional*/
.pricing__box--professional {
  top: 3031px;
  left: 611px;
  width: 405px;
  height: 500px;
}

.pricing__box--professional {
  border-color: var(--color-primary);
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__price {
  color: var(--color-primary);
}

.pricing__box--professional .btn {
  background-color: var(--color-primary);
}

/*premium*/
.pricing__box--premium {
  border-color: var(--color-green);
}

.pricing__box--premium .pricing__price {
  color: var(--color-green);
}

.pricing__box--premium .btn {
  background-color: var(--color-green);
}







